<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageGet</servlet-name>
        <servlet-class>ImageGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cartinfo</servlet-name>
        <servlet-class>Cartinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartRemove</servlet-name>
        <servlet-class>CartRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageGet</servlet-name>
        <url-pattern>/ImageGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cartinfo</servlet-name>
        <url-pattern>/Cartinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartRemove</servlet-name>
        <url-pattern>/CartRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
</web-app>
